.dami__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dami__header-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: flex-start;
  margin-right: 2rem;
  padding: 2rem;
  flex-wrap: wrap;
  /* overflow: hidden; */
}

.dami__header-content_fullname {
  font-weight: 500;
  font-size: 30px;
  line-height: 38px;
  color: var(--color-subtext);
  display: flex;
  align-items: center;
  text-transform: capitalize;
  margin: 2rem 0;
}

.dami__header-content_fullname div {
  width: 102px;
  height: 0;
  margin-right: 2rem;
  background-color: var(--color-subtext);
  border: 1px solid var(--color-button);
}
.dami__header-content_description {
  font-weight: 700;
  font-size: 52px;
  line-height: 100px;
  color: #1f2937;
  text-transform: capitalize;
  margin: 1.5rem 0 2rem 0;
}

.dami__header-content_description-aboutme {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: var(--color-text);
  margin-top: 1rem;
  padding-right: 1rem;
  width: 80%;
}

.dami__header-content__cta {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 3rem;
}

.dami__header-content__cta button {
  padding: 0.5rem 1rem;
  background-color: var(--color-button);
  color: #fff;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  border-radius: 6px;
  border: none;
  outline: none;
  cursor: pointer;
  margin-right: 2rem;
  min-width: 131px;
  min-height: 52px;
}

.dami__header-content__cta a {
  color: var(--color-button);
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  outline: none;
  cursor: pointer;
  text-decoration: underline;
}
.dami__header-content__cta a svg {
  vertical-align: text-bottom;
  color: var(--color-button);
}

.dami__header-content__empty {
  width: 622px;
  height: 0px;
  background: var(--color-text);
  border: 1px solid #e5e7eb;
  margin: 1.5rem 0 1rem 0;
}

.dami__header-content__footer {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: var(--color-text);
}
.dami__header-image {
  display: flex;
  flex: 0.5;
  justify-content: center;
  align-items: center;
  width: 478px;
  height: 525px;
}

.dami__header-image img {
  width: 100%;
  height: 100%;
  border-radius: 12px;
}

/* Media Queris */
/* Larger Devices  - any size below 1050px will be affected by this query */
@media screen and (max-width: 1050px) {
  .gpt3__header {
    flex-direction: column;
  }
  .gpt3__header-content {
    margin: 0 0 3rem;
  }
}
/* Tablet Devices  - any size below 650px will be affected by this query */
@media screen and (max-width: 650px) {
  .gpt3__header h1 {
    font-size: 48px;
    line-height: 60px;
  }
  .gpt3__header p {
    font-size: 16px;
    line-height: 24px;
  }
  .gpt3__header-content__people {
    flex-direction: column;
  }
  .gpt3__header-content__people p {
    margin: 0;
  }
  .gpt3__header-content__input input,
  .gpt3__header-content__input button {
    font-size: 16px;
    line-height: 24px;
  }
}
/* Mobile Devices  - any size below 490px will be affected by this query */
@media screen and (max-width: 490px) {
  .gpt3__header h1 {
    font-size: 36px;
    line-height: 48px;
  }
  .gpt3__header p {
    font-size: 14px;
    line-height: 24px;
  }

  .gpt3__header-content__input input,
  .gpt3__header-content__input button {
    font-size: 12px;
    line-height: 16px;
  }

  .gpt3__header-content__people p {
    font-size: 10px;
  }
}
